body {
    background: #600;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
}

.wrapper {
    width: 800px;
    margin: 250px auto;
    color: #FFFFFF;
    background-color: #000000;
    border: solid 10px #FFFFFF;
    text-align: center;
    border-radius: 25px;
}

h1, h2  {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#hours, #minutes, #seconds {
    font-size: 2em;
}

#button-start {
    background: #00FF00;
    color: #000000;
    font-weight: 1000;
    border: solid 4.5px #FFFFFF;
    cursor: pointer;
    font-size: 1.5em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
}

#button-stop {
    background: #FF0000;
    color: #000000;
    font-weight: 1000;
    border: solid 4.5px #FFFFFF;
    cursor: pointer;
    font-size: 1.5em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
}

#button-reset {
    background: #FFFF00;
    color: #000000;
    font-weight: 1000;
    border: solid 4.5px #FFFFFF;
    cursor: pointer;
    font-size: 1.5em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
}

.buttons:hover {
    opacity: 1;
}